<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{feed_title}} - {{article.title}}</title>
    <style>
     body, html {
       margin: 10px;
     }

     .feed {
       color: #888;
       font-size: 12px;
     }

     .article {
     }

     .article .title {
       font-size: 18px;
     }

     .article .author {
       font-size: 14px;
       color: #666
     }

     .article .description {
       font-size: 16px;
     }
    </style>
  </head>
  <body>
    <div class="article">
      <p class="feed"">{{feed_title}}</p>
      <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
      <p class="author">{{article.author}} {{article.published_at}}</p>
      <p class="description">{{article.description}}</p>
    </div>
  </body>
</html>
